html,
body {
	height: 100%;
}

body {
	font-family: 'Manrope', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
	overflow-x: hidden;
	background-color: #171A21;
	min-width: 300px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1805px;
  margin: 0 auto;
  padding: 0 15px;
}
