@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
    max-height: 100px;
    height: 100%;
    padding: 22px 0px;
    box-shadow: 0px 56px 80px rgba(0, 0, 0, 0.07), 0px 23.3955px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 12.5083px 17.869px rgba(0, 0, 0, 0.0417275), 0px 7.01207px 10.0172px rgba(0, 0, 0, 0.035), 0px 3.72406px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 1.54966px 2.21381px rgba(0, 0, 0, 0.0196802);
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__info {
        display: flex;
        align-items: center;
    }
    &__logo-link {
        color: #ffffff;
    }
    &__logo-name {
        font-weight: 800;
        text-transform: uppercase;
        max-width: 65px;
        width: 100%;
        margin: 0px 16px;
    }
    &__info-input {
        background-color: #0D1017;
        border: none;
        width: 300px;
        padding: 16px;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
    }
    &__menu {
        display: flex;
        align-items: center;
    }
    &__menu-list {
        display: flex;
        align-items: center;
        margin-right: 59px;
    }
    &__menu-item + &__menu-item {
        margin-left: 56px;
    }
    &__menu-user {
        margin-right: 16px;
    }
    &__menu-link {
        color: rgba(236, 239, 244, 0.4);
    }
    &__menu-link--active {
        color: #ffffff;
    }
    &__menu-exit {
        border: 0.5px solid rgba(255, 255, 255, 0.2);
        line-height: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
        cursor: pointer;
        background-color: inherit;
        color: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        padding-left: 48px;
        position: relative;
        padding-right: 16px;
        max-width: 112px;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/vector.svg);
            background-repeat: no-repeat;
            left: 17px;
            width: 20px;
            height: 20px;
            top: 19px;
            bottom: 0;
        }
    }
}

.footer {
    padding: 51px 0;
    background-color: #0D1017;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        line-height: 28px;
    }
    &__brand-link {
        font-weight: 600;
        color: #ffffff;
    }
    &__agree-link {
        font-weight: 500;
        color: #ffffff;
    }
}


.main {
    padding: 68px 0 125px 0;
}

.sales {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__text {
        color: #ECEFF4;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
    }
    &__all-link {
        font-size: 24px;
        line-height: 48px;
        color: rgba(72, 37, 210, 0.7);
    }
}

.our-games {
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        grid-row-gap: 38px;
        grid-column-gap: 40px;
    }
    &__item {
        max-width: 870px;
        width: 100%;
        max-height: 400px;
        height: 100%;
        position: relative;
    }
    &__item-img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        outline: none;
        margin: 0;
        object-fit: cover;
        padding: 0;
    }
    &__item-info {
        position: absolute;
        right: 0;
        bottom: 0;
        padding-top: 45px;
        padding-right: 18px;
        padding-bottom: 30px;
        padding-left: 30px;
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
        border-top-left-radius: 55px;
    }
    &__item-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        color: #ECEFF4;
        margin-bottom: 20px;
    }
    &__item-price {
        font-size: 24px;
        line-height: 24px;
        color: #ECEFF4;
        text-align: right;
        font-weight: 400;
        &::after {
            content: '₽';
            right: 0;
            bottom: 0;
            top: 0;
        }
    }
}

.game-discount {
    margin-bottom: 80px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__description {
        max-width: 595px;
        width: 100%;
    }
    &__description-title {
        font-weight: 700;
        font-size: 72px;
        line-height: 88px;
        color: #ECEFF4;
        margin-bottom: 36px;
    }
    &__description-list {
        display: flex;
        align-items: center;
        margin-bottom: 22px;
    }
    &__description-item + &__description-item {
        margin-left: 30px;
    }
    &__description-link {
        border: 0.5px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        max-height: 48px;
        height: 100%;
        padding: 16px 16px 16px 44px;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        position: relative;
        display: inline-block;
        &::before {
            content: '';
            position: absolute;
            left: 16px;
            width: 16px;
            height: 16px;
            bottom: 16px;
        }
    }
    &__description-link--playstation::before {
        background-image: url(../images/Vector\ \(2\).svg);
        height: 12.35px;
    }
    &__description-link--xbox::before {
        background-image: url(../images/Vector\ \(1\).svg);
    }
    &__description-link--pc::before {
        background-image: url(../images/Vector\ \(3\).svg);
        width: 20px;
    }
    &__description-text {
        color: #ECEFF4;
        opacity: 0.6;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 22px;
    }
    &__price {
        display: flex;
        align-items: center;
        margin-bottom: 42px;
    }
    &__price-new {
        font-weight: 700;
        font-size: 48px;
        line-height: 67px;
        position: relative;
        padding-right: 38px;
        &::after {
            content: '₽';
            position: absolute;
            right: 0;
        }
    }
    &__price-old {
        margin-left: 27px;
        font-size: 16px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.4);
        padding: 15px 15px 15px 12px;
        background-color: #0D1017;
        border-radius: 5px;
    }
    &__price-abatement {
        background: linear-gradient(180.46deg, #F15C3C 0.39%, rgba(72, 37, 210, 0.8) 102.92%);
        border-radius: 5px;
        font-size: 16px;
        line-height: 16px;
        color: #171A21;
        padding: 12px 9px;
    }
    &__buy-link {
        padding: 16px 19px;
        line-height: 16px;
        color: #ffffff;
        background: linear-gradient(0deg, #4825D2, #4825D2);
        border-radius: 5px;
    }
    &__add-basket {
        padding: 15px 16px 15px 42px;
        margin-left: 16px;
        color: rgba(255, 255, 255, 0.5);
        border: 0.5px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            background-image: url(../images/basket.svg);
            left: 16px;
            width: 14px;
            height: 14px;
            bottom: 19.55px;
        }
    }
    &__screenshots-img {
        border-radius: 8px;
        max-width: 1018px;
        max-height: 573px;
        object-fit: cover;
        margin-bottom: 60px;
    }
}

.breadcrumbs {
    margin-bottom: 24px;
    &__list {
        display: flex;
    }
    &__item {
        position: relative;
        padding-right: 14px;
    }
    &__item {
        &::after {
            content: '/';
            position: absolute;
            right: 0;
            font-size: 24px;
            bottom: 3px;
            color: rgba(236, 239, 244, 0.4);
        }
        &:last-child::after {
            display: none;
        }
    }
    &__item + &__item {
        margin-left: 5px;
    }
    &__link {
        color: rgba(236, 239, 244, 0.4);
        font-size: 24px;
        line-height: 24px;
    }
    
}